In [8]:
#Q1. Create one variable containing following type of data:

In [9]:
#(i) string

In [10]:
a="Hello World"

In [11]:
type(a)

str

In [12]:
#(ii) list

In [13]:
b=["Harry Potter", 2 , 9.00 , True , "Ronald"]

In [14]:
type(b)

list

In [15]:
#(iii) float

In [16]:
b = 3.14159265359

In [17]:
type(b)

float

In [ ]:
#(iv) tuple

In [18]:
c = (3.1415, 'boa', 2, True)

In [19]:
type(c)

tuple

In [20]:
#Q2.What will be the data type of the above given variable.

In [24]:
var1 = ''

In [25]:
type(var1)

str

In [26]:
 var2 = '[ DS , ML , Python]'

In [27]:
type(var2)

str

In [28]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [29]:
type(var3)

list

In [31]:
var4 = 1.

In [32]:
type(var4)

float

In [33]:
#Q3. Explain the use of the following operators using an example:

In [35]:
#(i) /  :  '/' in python is an airthmetic operator and is used for division or normal division of two variables , for example :
x=15 
y=5
#using operator '/' on the two variables: 
x/y
# the result will be  the divison of the two variables mentioned above

3.0

In [37]:
#(ii) % : '%' or modulo operator in python is also an arithmetic  opeator and is used for getting the remainder value of division between two variables
#example 
z=24
n=5
z%n #this will return the remiander of z/n

4

In [38]:
#(iii) // : '//' also known as 'floor divison' operator is an arithmetic operator and rounds off the result to the nearest integer value of divison between two arguments 
num1 = 55
num2 = 2
num1//num2 #this will return the nearest integer value of divison between num1 and num2

27

In [39]:
#(iv) **  : '**' also known as 'exponentiaton operator' is used to return the exponeential value of an argument
#example : 
a = 2**100
print(a)

1267650600228229401496703205376

In [40]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the  element and its data type.

In [46]:
List = ['Marlboro' , 2.900 , 73  , True , 'SQL' , ( 9 , 3.14 ,'df') , 'Rohan' , 99 , 99.99 , False]
for element in range(len(List)):
    print(List[element],type(List[element]))

Marlboro <class 'str'>
2.9 <class 'float'>
73 <class 'int'>
True <class 'bool'>
SQL <class 'str'>
(9, 3.14, 'df') <class 'tuple'>
Rohan <class 'str'>
99 <class 'int'>
99.99 <class 'float'>
False <class 'bool'>

In [47]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [91]:
A=int(input("Enter number:"))
B = int(input("Enter second number :"))
while(A>0 , B>0) : 
       if A%B == 0 :
        print(A , 'is purely divisible by' , B , A , 'is divisible by', B, 'by', A/B , 'times')
        break
       else:
        print ( A , 'is not purely divisible by' , B, end=',' )
        break

Enter number: 55
Enter second number : 3

55 is not purely divisible by 3,

In [ ]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is  divisible by 3 or not.

In [93]:
list1 = [ 23,1,2,5,99, 87 ,69 ,88, 43,56,70,8, 10,11,12,13,35,22,89,32,33,53,54,91,40]
len(list1)
for element in range(len(list1)):
    if element%3 == 0 : 
        print(element , 'is divisible by 3')
        
    else : 
        print(element, 'is not divisible by 3')

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

In [94]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing  this property.

In [96]:
#'Mutable data types' :  Mutable data types of an object are those data types that can change the value of that object without changing the objectâ€™s identity
# example : 
list2 = [1,2,3,4,5,6] #creating a list 
print(list2)
list2[2] = 99
print(list2) # the value of the value at index 2 changes

[1, 2, 3, 4, 5, 6]
[1, 2, 99, 4, 5, 6]

In [97]:
#Immutable data types : Immutable datatypes are objects that cannot be modified or altered after they have been created
# example : 
tup1 = ('hello' , 'Doraemon' , 33,7)
print(tup1) # printing a tuple
tup1[1] = 'Hermoine' #modifying a value in the tuple
print(tup1) #gives an error i.e.  'tuple' object does not support item assignment

('hello', 'Doraemon', 33, 7)

TypeError: 'tuple' object does not support item assignment