Pandas Basic Assignment

In [1]:
import pandas as pd

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
data  = pd.Series([4,8,15,16,23,42])
print(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
data1 = [2,3,5,67,34,38,9,8,67,99] #list type variable
df =pd.Series(data1) #creating series
print(df)

0     2
1     3
2     5
3    67
4    34
5    38
6     9
7     8
8    67
9    99
dtype: int64

Q3. Create a Pandas DataFrame with following data and print it : 
#Name :Alice, Bob, Claire
#Age :25 ,    30  , 27
#Gender:Female, Male, Female

In [4]:
df = pd.DataFrame({
    'Name' : ['Alice', 'Bob' , 'Claire'],
    'Age' : [25 ,30 ,27],
    'Gender' : ['Female' , 'Male' , 'Female']
})
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [5]:
# Answer::  DataFrame: In pandas dataframe is a two-dimensional labeled data structure with rows and columns. 

# It differs from series in dimensionality as series represents a one-dimensional labeled array whereas a dataframe represents a two-dimensional,
# labeled data structure with rows and columns.DataFrames can hold various data types within their columns whereas series can hold a single data type.

In [11]:
#Example : 

# Creating a DataFrame
data2 = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}

df2 = pd.DataFrame(data)

# Creating a Series
name_series = df["Name"]

print("DataFrame:\n", df2)
print("\nSeries:\n", name_series)

DataFrame:
     0
0   4
1   8
2  15
3  16
4  23
5  42

Series:
 0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [12]:
# Answer: Some common functions that can be used to manipulate data in a Pandas Dataframe are : 
    
#1. .head(n) : Returns the first n rows of the DataFrame , the default value of n is 5 .
#Example: 
df2.head(2)

   0
0  4
1  8

In [13]:
# 2. .groupby(by): Groups rows based on one or more columns, allowing calculations like sum(), mean(), count(), etc., on each group.
#Example : 
df2.groupby('Gender')['Age'].mean()

KeyError: 'Gender'

In [25]:
#3. .iloc[]: Selects rows and columns based on positional indexes. Useful for selecting data by integer position.
#Example: 
df2.iloc[:2]

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

In [26]:
#4. .tail(n): Returns the last n rows of the DataFrame
#Example: 
df2.tail(2)

     Name  Age  Gender
1     Bob   30    Male
2  Claire   27  Female

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Answer : DataFrame and Panel in pandas are mutable while Series in pandas is value mutable i.e. you can change the value of elements within the series but the number of elements cannot be added or removed that means series is not size mutable in pandas.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [28]:
# Creating three Series
name_series = pd.Series(["Alice", "Bob", "Claire"])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(["Female", "Male", "Female"])

# dictionary with Series as values
data = {
    "Name": name_series,
    "Age": age_series,
    "Gender": gender_series
}


df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female